body
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: white;
	background-size: cover;
	scroll-behavior: smooth;
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: black;
}

::selection {
  color: white;
  background: black;
}

@font-face {
  font-family: title;
  src: url(../fonts/nickainley.otf);
}

header
{
	position: fixed;
	top: 0;
	left: 0;
	padding: 0 100px;
	background: #fff;
	width: 100%;
	box-sizing: border-box;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

header .logo a
{
	color: #1ec712;
	height: 50px;
	line-height: 50px;
	font-size: 35px;
	float: left;
	text-decoration: none;
	font-family: 'title';
}

.farm-dark
{
	color: #2ea802;
}

header nav
{
	float: right;
}

header nav ul
{
	margin: 0;
	padding: 0;
	display: flex;
}

header nav ul li
{
	list-style: none;
}

header nav ul li a
{
	height: 50px;
	line-height: 50px;
	padding: 0 20px;
	color: brown;
	text-decoration: none;
	display: block;
	transition: 0.2s;
	font-family: 'Montserrat', sans-serif;
}

header nav ul li a:hover
{
	color: #fff;
	background: #1ec712;
	text-decoration: none;
	transition: 0.2s;
}

header nav ul li a.active
{
	color: #fff;
	background: #2ea802;
	text-decoration: none;
}

.menu-toggle
{
	color: #fff;
	float: right;
	line-height: 50px;
	font-size: 24px;
	cursor: pointer;
	display: none;
}

@media (max-width: 1156px)
{
	header
	{
		padding: 0 20px;
	}
}

@media (max-width: 1000px)
{
	header
	{
		padding: 0 20px;
	}
	.menu-toggle
	{
		display: block;
		margin-top: 10px;
	}
	header nav
	{
		position: fixed;
		width: 100%;
		height: calc(100vh - 50px);
		background: #fff;
		top: 50px;
		right: -100%;
		transition: 0.5s;
	}
	header nav.active
	{
		right: 0;
		width: 30%;
		min-width: 200px;
		border-left: 1px solid rgba(0,0,0,0.2);
	}
	header nav ul
	{
		display: block;
		text-align: center;
	}
	header nav ul li a
	{
		border-bottom: 1px solid rgba(0,0,0,0.2);
	}
}

.bar1, .bar2, .bar3
{
	width: 30px;
	height: 2px;
	background-color: #009000;
	margin: 6px 0;
	transition: 0.5s ease;
}

.change .bar1
{
	transform: rotate(-45deg) translate(-3px,4px);
}

.change .bar3
{
	transform: rotate(45deg) translate(-7px,-8px);
}

.change .bar2
{
	opacity: 0;
}

.banner
{
	background: linear-gradient(rgba(255,255,255,0.85),rgba(255,255,255,0.85)), url(../images/banner.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.banner-title
{
	padding: 90px 40px 20px 40px;
	color: #1ec712;
	font-size: 100px;
	text-shadow: 0 0 0px #0d9903;
	font-family: 'title';
}

@media(max-width: 706px)
{
	.banner-title
	{
		padding: 50px 40px 20px 40px;
	}
}

@media(max-width: 485px)
{
	.banner-title
	{
		padding: 50px 70px 20px 70px;
	}
}

@media(max-width: 369px)
{
	.banner-title
	{
		padding: 50px 40px 20px 40px;
	}
}

.banner-tagline
{
	padding-bottom: 20px;
	font-family: 'Raleway', sans-serif;
	color: #007400;
}

.banner-text
{
	color: brown;
	padding-bottom: 40px;
	padding-left: 20px;
	padding-right: 20px;
	font-family: 'Montserrat', sans-serif;
}

@media(max-width: 320px)
{
	.banner-text
	{
		font-size: 23px;
	}
}

.banner-btn
{
	padding-bottom: 40px;
}

.banner-btn1
{
	font-weight: 400;
	font-size: 27px;
	text-align: center;
	color: #d9534f;
	border: solid 2px #d9534f;
	border-radius: 50px;
	padding: 5px 10px;
	transition: 0.5s;
	margin-right: 20px;
	font-family: 'Montserrat', sans-serif;
}

.banner-btn
{
	padding-bottom: 40px;
}

.banner-btn1:hover
{
	text-decoration: none;
	background-color: #d9534f;
	transition: 0.5s;
	color: white;
}

.banner-btn2
{
	font-weight: 400;
	font-size: 27px;
	text-align: center;
	color: #3260ab;
	border: solid 2px #3260ab;
	border-radius: 50px;
	padding: 5px 10px;
	transition: 0.5s;
	margin-left: 20px;
	font-family: 'Montserrat', sans-serif;
}

.banner-btn2:hover
{
	text-decoration: none;
	background-color: #3260ab;
	transition: 0.5s;
	color: white;
}

@media(max-width: 536px)
{
	.banner-btn1
	{
		margin-right: 10px;
	}

	.banner-btn2
	{
		margin-left: 10px;
	}
}

@media(max-width: 470px)
{
	.banner-btn1
	{
		margin-right: 5px;
		font-size: 22px;
	}

	.banner-btn2
	{
		margin-left: 5px;
		font-size: 22px;
	}
}

@media(max-width: 379px)
{
	.banner-btn1
	{
		margin: 0 0 0 0;
	}

	.banner-btn2
	{
		margin: 0 0 0 0;
	}
}

@media(max-width: 347px)
{
	.banner-btn1
	{
		font-size: 19px;
	}

	.banner-btn2
	{
		font-size: 19px;
	}
}