body
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: white;
	background-image: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url(../images/bg_home.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

header
{
	position: fixed;
	top: 0;
	left: 0;
	padding: 0 100px;
	background: #f0f8ff;
	width: 100%;
	box-sizing: border-box;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	border-top: 1px solid rgba(0,0,0,0.2);
}

header .logo a
{
	color: green;
	height: 50px;
	line-height: 50px;
	font-size: 24px;
	float: left;
	text-decoration: none;
}

header .logo a .farm
{
	color: darkgreen;
}

header nav
{
	float: right;
}

header nav ul
{
	margin: 0;
	padding: 0;
	display: flex;
}

header nav ul li
{
	list-style: none;
}

header nav ul li a
{
	height: 50px;
	line-height: 50px;
	padding: 0 20px;
	color: brown;
	text-decoration: none;
	display: block;
}

header nav ul li a:hover
{
	color: #fff;
	background: green;
	text-decoration: none;
}

header nav ul li a.active
{
	color: #fff;
	background: darkgreen;
	text-decoration: none;
}

.menu-toggle
{
	color: #fff;
	float: right;
	line-height: 50px;
	font-size: 24px;
	cursor: pointer;
	display: none;
}

@media (max-width: 1156px)
{
	header
	{
		padding: 0 20px;
	}
}

@media (max-width: 1000px)
{
	header
	{
		padding: 0 20px;
	}
	.menu-toggle
	{
		display: block;
		margin-top: 10px;
	}
	header nav
	{
		position: fixed;
		width: 100%;
		height: calc(100vh - 50px);
		background: #fff;
		top: 50px;
		right: -100%;
		transition: 0.5s;
	}
	header nav.active
	{
		right: 0;
		width: 30%;
		min-width: 200px;
	}
	header nav ul
	{
		display: block;
		text-align: center;
	}
	header nav ul li a
	{
		border-bottom: 1px solid rgba(0,0,0,0.2);
	}
}

.bar1, .bar2, .bar3
{
	width: 30px;
	height: 2px;
	background-color: green;
	margin: 6px 0;
	transition: 0.5s ease;
}

.change .bar1
{
	transform: rotate(-45deg) translate(-3px,4px);
}

.change .bar3
{
	transform: rotate(45deg) translate(-7px,-8px);
}

.change .bar2
{
	opacity: 0;
}